<h1>&nbsp;&nbsp;Important News: <a href="{{base}}/en/home/guru_samadhi.html" style="color:#aaaaff;">Paranjothi Devaraj Swamikal attained Mahasamadhi.</a></h1>
<div class="post"> 
	<h1 class="title"><a href="#"> Welcome to get God Consiousness, Knowledge and Bliss. </a></h1>
	<div class="entry">
	<ul>
		<li>	If there is no physical form to God, how we were formed with physical features? </li>
			
		<li>	How could we see Him, while we are with a physical form? </li>
			
		<li>	If it is true that He created us, with what, He created us? </li>
			
		<li>	What is the nature of the thing, with which He created us? </li>
			
		<li>	If He is omnipresent, why there are so many temples to see and pray unto Him? </li>
			
		<li>	While He being one and the only one why should He be prayed with countless names? </li>
			
		<li>	Why there are these divisions and disparities in this world as small and big man, while He is the greatest of them all? </li>
			
		<li>	If there is going to be a 'Judgment Day', why there are so many courts here? </li>
			
		<li>	If there is Satan as an enemy doing bad deeds quite opposite to the good deeds of God, who is bigger among the two? </li>
			
		<li>	Who created these two persons? </li>
			
		<li>	If people on death, go to heaven or hell, according to their deeds, or come back to this earth by re-birth, it is only natural that the population in this world should go on decreasing. But on the contrary, it goes on increasing day by day. Why? </li>
			
		<li>	If these are God's play or Maya, why there should be no maya nor excess desires to man? </li>
			
		<li>	If man is the highest of all creatures, why creatures more powerful than man are many and bigger than him and are useful to man?
			Moreover, while there is no benefit from man to these creatures, he is to live depending on these creatures. </li>
			
		<li>	How man could be higher, while he is afraid of and seeks protection from the dangers of certain creatures? </li>
			
		<li>	It is said that man is great in everything and can live forever. Is there anyone who had escaped death till date? </li>
			
		<li>	Who is the great one?  </li>
			
		<li>	What is Supreme Bliss? </li>
	</ul>
			
		Such numerous and endless questions came from my innerself. When  I enquired into these questions and examined intensively, I was a believer in everything. But I involved myself sincerely, seriously and strenuously in the practice of Kundalini Yoga. Because of my great penance in Kundalini Yoga, I was able to learn the answers to all these and other questions and I have brought them out in the book 'I-God' 
	<br/> <br/>
	<b width="100%"> <a href="mahaan.html"> - Paranjothi Mahan</a></b>	 .
	</div>
</div>
