---
layout: layout
#Note: topic name can have max 50 chars, topic name and subtopic name shouldnot have '~' symbol.
topics:
 - topic: [home, Paranjothi SKY Centre, பரஞ்சோதி SKY மையம்]
   secs:
    - sec: [Subtopics, உற்பிரிவுகள்]
      subs:
       - [index, Introduction, முன்னுரை]
       - [objective, Objective, நோக்கம்]
       - [benefits, Benefits, பயன்கள்]
    - sec: [Experiences, அனுபவங்கள்]
      subs:
       - [govindaraj, Govindaraj, கோவிந்தராஜ்]
       - [rajan, Rajan, ராஜன்]
       - [swaminathan, Swaminathan, சுவாமிநாதன்]
       - [manoharan, Manoharan, மனோகரன்]
#    - sec: [News, செய்திகள்]
#      subs:
#       - [guru_samadhi, Paranjothi Devaraj Swamikal attained Mahasamadhi,
#       	  பரஞ்சோதி தேவராஜ் சுவாமிகள் மகா சமாதி அடைந்தார்]
#       - [2011_events, 2011 Events, 2011 நிகழ்வுகள்]
 - topic: [mahaan, Paranjothi Mahan, பரஞ்சோதி மகான்]
   secs:
    - sec: [Paranjothi Mahan, பரஞ்சோதி மகான்]
      subs:
       - [index, Introduction, முன்னுரை]
       - [philosophy, Philosophy, தத்துவம்]
       - [goldenwords, Golden Words, பொன்மொழிகள்]
    - sec: [Kundalini Yogam, குண்டலினியோகம்]
      subs:
       - [kundalini, Kundalini Yogam, குண்டலினி யோகம்]
       - [moolatharam, Moolatharam, மூலக்கண்]
       - [foreheadeye, Forehead Eye, நெற்றிக்கண்]
       - [eyeofnape, Eye of the Nape, பிடரிக்கண்]
       - [cresteye, Crest Eye, உச்சிக்கண்]
 - topic: [guru, Paranjothi Devaraj Swamikal, பரஞ்சோதி தேவராஜ் சுவாமிகள்]
   secs:
    - sec: [Devaraj Swamikal, தேவராஜ் சுவாமி]
      subs:
       - [index, Introduction, முன்னுரை]
       - [speech, Speech, அருளுரைகள்]
       - [mahasamadhi, Maha Samadhi, மகா சமாதி]
 - topic: [activities, Activities, செயல்பாடுகள்]
   secs:
    - sec: [Activities, செயல்பாடுகள்]
      subs:
       - [index, Events, நிகழ்ச்சிகள்]
       - [welfare, Welfare Funds, நல உதவிகள்]
       #- [andumalar-8-9, Andu Malar 2008-2009, ஆண்டு மலர் 2008-2009]
 - topic: [photos, Photos, புகைப்படங்கள்]
   secs:
    - sec: [Photos, புகைப்படங்கள்]
      subs:
       - [index, Photos, புகைப்படங்கள்]
 - topic: [contact, Contact Us, தொடர்பு கொள்க]
   secs:
    - sec: [Contact Us, தொடர்பு கொள்க]
      subs:
       - [index, Contact Us, தொடர்பு கொள்க]
---

{{ content }}